
* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d3a23c;
  background-size: cover;
  font-family: Poppins, sans-serif;
}


.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-div {
  background-color: white;
  width: 40%;
  border-radius: 8px;
  padding: 30px 0;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}
 .checklist-container { display: flex; justify-content: center; align-items: center; gap: 40px; margin-top: 12px; }
.li-india { display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 8px; }
.image-container,
.image1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 24px;
  font-weight: 500;
  color: #333;
  text-align: center;
  padding-top: 18px;
}

.para {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}


.form-sec {
  padding: 25px 20px;
}

.section-2,
.section-4 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}

.student-input,
.student-input2,
.event-select,
.dropdown {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: 0.2s;
  background: white;
}

.student-input:hover,
.student-input2:hover,
.event-select:hover {
  border-color: #888;
}

.student-input:focus,
.student-input2:focus,
.event-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 3px rgba(0,123,255,0.4);
}


.checkbox-large {
  width: 60px; 
  height: 30px;
  transform: scale(1.8); 
  margin: 12px 10px;
  cursor: pointer;
  accent-color: #0078d7;
}

.checkbox-small {
  width: 20px;
  height: 30px;
  margin-right: 10px;
  accent-color: #0078d7;
  cursor: pointer;
}


.radio-sec {
  display: flex;
  gap: 30px;
  margin-top: 8px;
}

.radio-gen {
  display: flex;
  gap: 5px;
}

.radio-para {
  font-size: 16px;
  color: #707070;
}


.contact-detail {
  display: flex;
  flex-direction: column;
  width: 48%;
  gap: 8px;
  margin-top: 25px;
}


.section-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.course-container {
  padding: 16px;
}

.course-label {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 14px;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 8px 16px;
  margin-top: 10px;
}

.course-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}


button {
  background-color: #d3a23c;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #198754;
}


.result-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background: white;
  height: 120vh;
}

.result-title {
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}

.entry-pass-head {
  font-size: 50px;
  padding: 15px 0;
}


.poster-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.poster-image {
  width: 100%;
  display: block;
}

.body-white {
    background-color: #fff !important;
}

.poster-overlay {
  position: absolute;
  left: 35%;
  top: 7%;
  width: 80%;
  font-size: 2vw;
  padding: 10px;
  z-index: 2;
}

.poster-overlay2 {
  position: absolute;
  left: 38%;
  top: 17%;
  width: 80%;
  font-size: 2vw;
  padding: 10px;
  z-index: 2;
}

.admin-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
}

.admin-login-box {
  width: 400px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  border-top: 4px solid #d4af37;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.admin-login-box h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.admin-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  border-radius: 5px;
}

.admin-btn {
  width: 100%;
  padding: 10px;
  background: #d4af37;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.admin-btn:hover {
  background: #b8962f;
}

.admin-layout {
  display: flex;
}

.admin-sidebar {
  width: 240px;
  background: #000;
  color: white;
  height: 100vh;
  padding: 25px;
}

.admin-sidebar h2 {
  color: #d4af37;
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
}

.admin-sidebar a {
  display: block;
  color: white;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 16px;
}

.admin-sidebar a:hover {
  color: #d4af37;
}

.logout-btn {
  margin-top: 40px;
  width: 100%;
  background: #d4af37;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: black;
  cursor: pointer;
}

.admin-content {
  flex-grow: 1;
  padding: 30px;
  background: #eee;
  min-height: 100vh;
}

.table-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  background: #d4af37;
  color: white;
  padding: 12px;
  text-align: left;
}

table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}


.action-btn {
  padding: 6px 12px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  border: none;
}

.view-btn { background: #007bff; }
.edit-btn { background: #28a745; }
.delete-btn { background: #dc3545; }

.action-btn:hover {
  opacity: 0.85;
}

.admin-container {
  padding: 20px;
  width: 100%;
  overflow-x: auto;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  min-width: 1200px;
}

.admin-table th,
.admin-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center; 
  color:black;
}

.admin-table th {
  background: #f4f4f4;
  font-weight: bold;
}

.btn {
  padding: 5px 12px;
  border: none;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
}

.edit-btn {
  background: #007bff;
  color: white;
}

.del-btn {
  background: #e63946;
  color: white;
}

/* Checkbox Strike Style */
.strike-row td {
  text-decoration: line-through;
  color: black;
}



@media (max-width: 1024px) {
  .form-div { width: 60%; }
  .heading { font-size: 22px; }
  .para { font-size: 15px; }
}

@media (max-width: 768px) {
  .form-div { width: 85%; }
  .checklist-container { flex-direction: column; gap: 15px; }
  .section-3 { flex-direction: column; }
  .contact-detail { width: 100%; }
  .heading { font-size: 20px; }
  .para { font-size: 14px; }
  button { font-size: 15px; }
  .admin-layout {
    flex-direction: column;
  }

  .admin-sidebar {
    width: 100%;
    height: auto;
  }
  .admin-table {
    font-size: 12px;
    min-width: 1000px;
  }
}

@media (max-width: 480px) {
  .form-div { width: 95%; padding: 15px 10px; }
  .heading { font-size: 18px; }
  .para { font-size: 13px; }
  .student-input,
  .student-input2 { font-size: 13px; padding: 8px; }
  .radio-sec { flex-direction: column; gap: 10px; }
  button { font-size: 14px; padding: 10px; }
  .contact-detail { margin-top: 15px; }
  .result-title { font-size: 20px; }
  .entry-pass-head { font-size: 26px; }
  .poster-overlay{font-size: 5vw;}
   .poster-overlay2{font-size: 5vw;}
   .checkbox-large{ width: 20px; } 
   .checklist-container{flex-direction: row;}

}
